<!--Administration Navigation Menu-->
<nav id="nav_menu">
    <ul>
        <li><a href="/addPage">Add Page</a></li>
        <li><a href="/manage">Edit Page</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>