<%- include('layouts/header'); -%>
<body>
    <!--Header-->
    <header>
        <img src="images/school.png" alt="Blog Logo" height="130">
        <h1>Tom's School Blog</h1>
        <h2>Welcome, this is the administration page!</h2>
    </header>
    <!--Navigation Menu-->
    <%- include('layouts/admin_nav'); -%>
    <!--Main section showing add page success-->
    <main class="adminPage">
        <br>
        <h1>Add a new page</h1>
        <p>You have successfully created a new page!</p>
    </main>
    <!--Footer-->
<%- include('layouts/footer'); -%>