<%- include('layouts/header'); -%>
<body>
    <!--Header-->
    <header>
        <img src="images/school.png" alt="Blog Logo" height="130">
        <h1>Tom's School Blog</h1>
        <h2>Welcome, this is the administration page!</h2>
    </header>
    <!--Navigation-->
    <%- include('layouts/admin_nav'); -%>
    <!--Main Section to display the admin page-->
    <main class="adminPage">
        <br>
        <h1>Welcome!</h1>
        <p>Hello Admin, welcome to the admin dashboard! Add, Edit, Delete Pages or logout from here!</p>
    </main>
    <!--Footer-->
<%- include('layouts/footer'); -%>